[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "submodules/vim-colorschemes"]
	path = submodules/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "submodules/vim-airline-themes"]
	path = submodules/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "submodules/goyo.vim"]
	path = submodules/goyo.vim
	url = https://github.com/junegunn/goyo.vim
